body{
    height: 500vh;
    display: flex;
    align-items: center;
    justify-content: center;


}
.bigbox1{
    background: lightblue;
    height: 300px;
    width: 300px;
    display: flex;
}
.bigbox2{
 display: flex;
 border:2px white solid;
 position: absolute;
}
    
.red{
    background: red;
    height: 100px;
    width: 100px;
   
}
.yellow{
    background: yellow;
    height: 100px;
    width: 100px;
}
.green{
    background: green;
    height: 100px;
    width: 100px;

}
.red2{
    background: red;
    height: 100px;
    width: 100px;
}
.yellow2{
    background: yellow;
    height: 100px;
    width: 100px;
}
.green2{
    background: green;
    height: 100px;
    width: 100px;
}